/* comment siFu: des wird so ned funktionieren, zumindest nicht für IE --> siehe kartograph Doku: map.LoadCSS;*/
path {
	fill: #aaa;
	stroke: #fff;
}

path.restriction0 {
    fill: #ddd;
}

path.restriction1 {
    fill: #0cc;
}

path.restriction2 {
    fill: #c0c;
}

path.restriction3 {
    fill: #cc0;
}


